/* Set background color to light blue */
body {
  background-color: #F0F8FF;
}

/* Set header styles */
header {
  background-color: #3b5998;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minor-info {
			background-color: white;
			border: 2px solid yellow;
			border-radius: 20px;
			margin: 20px;
			padding: 20px;
			clear: both;
			float: left;
		}

h1 {
  font-size: 36px;
  margin: 0;
}

#qr-button {
  background-color: #fff;
  border: none;
  color: #3b5998;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Set QR code styles */
#qr-code {
  display: none;
  justify-content: center;
  margin-top: 20px;
}

#qr-code img {
  width: 200px;
  height: 200px;
}

/* Set contact info styles */
p {
  margin: 10px 0;
}

/* Set experience section styles */
h2 {
  color: #3b5998;
  font-size: 28px;
  border-bottom: 2px solid #3b5998;
  padding-bottom: 10px;
  margin-top: 40px;
}

h3 {
  color: #3b5998;
  font-size: 22px;
  margin-top: 20px;
}

ul {
  margin-left: 20px;
}

li {
  margin: 10px 0;
}

/* Set education section styles */
h2:nth-of-type(2) {
  margin-top: 80px;
}

h2:nth-of-type(2) + h3 {
  margin-top: 40px;
}

/* Set awards and honors styles */
h3:nth-of-type(2) {
  margin-top: 20px;
}

/* Set skills section styles */
h2:nth-of-type(3) {
  margin-top: 80px;
}

/* Set additional information section styles */
h2:nth-of-type(4) {
  margin-top: 80px;
}

/* Set references section styles */
h2:nth-of-type(5) {
  margin-top: 80px;
}

/* Set link styles */
a {
  color: #3b5998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
